.alert {
  background: $color_gray_lighter;
  padding: 1em 1.3em;
  border-radius: .3em;
  margin: 1em 0;
  opacity: 1;
  transition: $transition_default;

  .close {
    background: $color_gray_light;
    color: $color_white;
    border: none;
    border-radius: .2em;
    font-size: 1.2em;
    padding: 0 .3em;
    float: right;
    margin-left: .5em;
    cursor: pointer;
  }

  &.alert-dismissed {
    opacity: 0;
    height: 0;
    padding: 0 1.3em;
    margin-top: -1em;

    .close {
      height: 0;
    }
  }

  &.alert-primary {
    background: $color_primary_light;
    color: $color_white;

    .close {
      background: $color_primary;
    }
  }

  &.alert-success {
    background: $color_success_light;
    color: $color_white;

    .close {
      background: $color_success;
    }
  }

  &.alert-warning {
    background: $color_warning_light;
    color: $color_white;

    .close {
      background: $color_warning;
    }
  }

  &.alert-danger {
    background: $color_danger_light;
    color: $color_white;

    .close {
      background: $color_danger;
    }
  }

  &.alert-info {
    background: $color_info_light;
    color: $color_white;

    .close {
      background: $color_info;
    }
  }

}
