.btn {
  cursor: pointer;
  background: $color_gray;
  border: 1px solid transparent;
  color: white;
  padding: .5rem 1rem;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;

  &:hover, &:focus {
    background: $color_gray_dark;
  }

  &:active {
    transform: scale(.95);
  }
}

// --------------------------------------

.btn-animated {
  transition: $transition_default;
}

.btn-rounded {
  border-radius: .3rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-shadow {
  box-shadow: 0 0 5px $color_gray;

  &:active {
    box-shadow: none;
  }
}

.btn-bordered {
  background: none;
  border: 1px solid $color_gray;
  color: $color_gray;

  &:hover, &:focus {
    color: white;
  }
}

.btn-small {
  font-size: .8rem;
  padding: .3rem .8rem;
}

.btn-large {
  font-size: 1.5rem;
  padding: .6rem 1.5rem;
}

// --------------------------------------

.btn-primary {
  background: $color_primary;
  color: white;

  &:hover, &:focus {
    background: $color_primary_dark;
  }
}

.btn-success {
  background: $color_success;
  color: white;

  &:hover, &:focus {
    background: $color_success_dark;
  }
}

.btn-warning {
  background: $color_warning;
  color: white;

  &:hover, &:focus {
    background: $color_warning_dark;
  }
}

.btn-danger {
  background: $color_danger;
  color: white;

  &:hover, &:focus {
    background: $color_danger_dark;
  }
}

.btn-info {
  background: $color_info;
  color: white;

  &:hover, &:focus {
    background: $color_info_dark;
  }
}

// --------------------------------------

.btn-primary.btn-bordered {
  border-color: $color_primary;
  color: $color_primary;
  background: none;

  &:hover, &:focus {
    background: $color_primary;
    color: white;
  }
}

.btn-success.btn-bordered {
  border-color: $color_success;
  color: $color_success;
  background: none;

  &:hover, &:focus {
    background: $color_success;
    color: white;
  }
}

.btn-warning.btn-bordered {
  border-color: $color_warning;
  color: $color_warning;
  background: none;

  &:hover, &:focus {
    background: $color_warning;
    color: white;
  }
}

.btn-danger.btn-bordered {
  border-color: $color_danger;
  color: $color_danger;
  background: none;

  &:hover, &:focus {
    background: $color_danger;
    color: white;
  }
}

.btn-info.btn-bordered {
  border-color: $color_info;
  color: $color_info;
  background: none;

  &:hover, &:focus {
    background: $color_info;
    color: white;
  }
}
