.material-icons {
  position: relative;
  bottom: -0.15em;
  line-height: 0;
  font-size: 1em;
}

.mi-primary { color: $color_primary; }
.mi-success { color: $color_success; }
.mi-warning { color: $color_warning; }
.mi-danger { color: $color_danger; }
.mi-info { color: $color_info; }

.icon-panel {
  border: 1px solid $color_black;
  text-align: center;
  display: inline-block;
  padding: 10px;
  width: 150px;

  p {
    font-size: .6rem;
  }

  .material-icons {
    font-size: 3rem;
    line-height: 3rem;
  }

}
