.img-responsive {
  max-width: 100%;
}

.img-rounded {
  border-radius: 1rem;
}

.img-circle {
  border-radius: 50%;
}

.img-thumbnail {
  box-shadow: 0 1px 5px $color_gray;
  padding: 1rem;
}

a img {
  box-shadow: none;
  transition: $transition_default;
}

a:hover img {
  box-shadow: 0 2px 8px $color_black;
}
