.label {
  background: $color_gray_light;
  color: $color_white;
  font-size: .8em;
  padding: .2em .5em;
  border-radius: .2em;
  bottom: .1em;
  position: relative;

  &.label-primary { background: $color_primary_light; }
  &.label-success { background: $color_success_light; }
  &.label-warning { background: $color_warning_light; }
  &.label-danger { background: $color_danger_light; }
  &.label-info { background: $color_info_light; }

  &:empty {
    display: none;
  }

}
