.navbar {
  background: $color_navbar_background;
  color: $color_white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: $transition_default;

  .container {
    width: $container_max_width - 2 * $grid_padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &.compact {
    font-size: .8em;
  }

  &.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: auto;
    max-height: 100%;
  }

  a {
    color: $color_white;
    text-decoration: none;
    display: block;
    cursor: pointer;
    padding: 1em;

    &:hover, &:focus {
      outline: none;
      background: $color_white;
      color: $color_navbar_background;
    }
  }

  .navbar-logo {
    font-weight: bold;
  }

  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: none;
    flex-direction: column;

    li {
      margin: 0;

      &.dropdown {
        ul {
          padding: 0;
          list-style: none;
          display: none;
          flex-direction: column;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {

  .navbar {

    &.fixed {
      overflow: initial;
    }

    .navbar-mobile-menu-button {
      display: none;
    }

    .navbar-menu {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: auto;
      justify-content: space-between;

      li {
        flex-grow: 1;

        &.dropdown {
          position: relative;
          ul {
            text-align: left;
            background: $color_navbar_background;
            position: absolute;
            right: 0;
          }
        }

      }
    }

    &.centered {
      justify-content: space-around;

      .navbar-menu {
        width: 100%;
      }
    }

  }

}
