.spinner-1 {
  height: 50px;
  width: 50px;
  border-width: 4px;
  border-style: solid;
  border-color: $color_primary transparent $color_primary transparent;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}

.spinner-2 {
  box-sizing: content-box;
  height: 50px;
  width: 50px;
  border-width: 4px;
  border-style: solid;
  border-color: $color_primary $color_primary $color_primary transparent;
  border-radius: 50%;
  animation: rotate 2s infinite linear;
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 40px;
    width: 40px;
    top: -5px;
    left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: white white white transparent;
    border-radius: 50%;
    animation: rotate 2s infinite ease-in-out;
    position: absolute;
  }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-1 {
  height: 4px;
  background: $color_gray_lighter;
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    display: block;
    position: absolute;
    background: $color_primary;
    height: 100%;
    width: 25%;
    left: -25%;
    animation: loader-1 2s infinite linear;
  }
}

@keyframes loader-1 {
  0% { left: -25%; }
  100% { left: 100%; }
}

.loader-2 {
  height: 4px;
  background: $color_gray_lighter;
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    display: block;
    position: absolute;
    background: $color_warning;
    height: 100%;
    width: 0%;
    left: -25%;
    animation: loader-2 2s infinite linear;
  }
}

@keyframes loader-2 {
  0% { left: -25%; }
  50% { width: 25%; background: $color_warning; }
  70% { width: 50%; }
  80% { left: 50%; }
  95% { left: 90%; }
  100% { left: 120%; width: 100%; background: $color_success; }
}
