$color_white: #f9f9f9;
$color_black: #232323;
$color_gray: gray;
$color_primary: #4372bc;
$color_success: #3ec61f;
$color_warning: #ffd91e;
$color_danger: #e80700;
$color_info: #38c0ff;
$color_navbar_background: black;

$container_max_width: 1200px;
$grid_padding: 10px;
$root_font_size: 15px;
$base_line_height: 1.35;
$base_font_family: 'Open Sans', sans-serif;
$headings_weight: 300;
$table_border: 2px solid $color_black;

$color_gray_dark: darken($color_gray, 10%);
$color_primary_dark: darken($color_primary, 7%);
$color_success_dark: darken($color_success, 6%);
$color_warning_dark: darken($color_warning, 8%);
$color_danger_dark: darken($color_danger, 5%);
$color_info_dark: darken($color_info, 15%);

$color_gray_lighter: lighten($color_gray, 45%);
$color_gray_light: lighten($color_gray, 10%);
$color_primary_light: lighten($color_primary, 10%);
$color_success_light: lighten($color_success, 10%);
$color_warning_light: lighten($color_warning, 5%);
$color_danger_light: lighten($color_danger, 10%);
$color_info_light: lighten($color_info, 10%);

$transition_default: .3s all;
$tooltip_width: 8 * 1em;
