.form-input {
    min-width: 200px;
    position: relative;
    margin-top: 20px;
    font-size: 1rem;
    
    &.not-empty-input{
        label{top: -20px;
        font-size: 0.7em;
        }
    }
    
    input {
        border: none;
        border-bottom: 1px solid darkblue;
        outline: none;
        
    
    + label{
        position: absolute;
        left: 0;
        top: 0;
        transition: .5s all;
        color: $color_gray;
    }
        &:focus{
            + label{
                top: -20px;
                color: deepskyblue;
                font-size: 0.7em;
            }
        }
 }
}