*, *.before, *.after{
    box-sizing: border-box;
}

body{
    margin: 30px;
    font-family: Josefin Sans, sans-serif;
    font-size: 16px;
    padding: 10px 15px;
}

a{
    text-decoration: none;
    color: #777;
    display: block;
    transition: all 0.2s ease;

}
img{
    max-width: 100%;
    height: auto;
}
.containter{
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #186680;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.57);
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
/* Brand */
.brand a,
.brand img{
    display: block;
}

/* Menu */
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

nav li{
    display: inline-block;
    margin: 0 5px;
}

nav a{
    color: #000;
    padding: 10px 15px;
    font-size: 18px;
}

nav a:hover{
    color: #fff;
    background-color: #000;
    border-radius: 10px;
}

/* Slider */
.slider{
    overflow: hidden
}
.slider img{
    display: block;
    transition: transform 0.2s;
}
.slider img:hover{
    transform: rotate(2deg) scale(1.1);
}

/* Main */
main{
    display: flex;
    justify-content: space-between;
}
article{
    width: 70%;
    padding: 30px;
}
aside{
    width: 30%;
    padding: 20px;
    background-color: #f8f8f8;
    border-left: 1px solid #e1e1e1;
}
.widget{
    margin-bottom: 40px;
}
  /* Aside */
    .widget:after{
        content: '';
        display: table;
        clear: both;
    }
.widget img{
    float: left;
    margin: 0 10px 5px 0;
}
.widget ul{
    list-style-type: square;
    padding: 0 0 0 15px;
}
.widget ul li{
    margin-bottom: 10px;
}

/* Footer */
footer{
    background: #f8f8f8;
    border-top: 1px solid #e1e1e1;
    text-align: center;
    padding: 25px 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
footer p{
    margin: 0;
}

@media (max-width:800px){
    header{
        flex-direction: column;
    }
    .brand{
        margin-bottom: 25px;
    }
    nav ul{
        text-align: center;
    }
    main{
        flex-direction: column;
    }
    article, aside{
        width: 100%;
        padding: 25px;
    }
    article h1,
    article h2{
        text-align: center;
    }
    article img{
        display: block;
        width: 100%;
        margin: 30px 0;
    }
    aside{
        border: 0;
    }
}

@media (max-width:480px){
    header{
        padding-bottom: 20px;
        border-bottom: 1px solid #e1e1e1;
    }
    nav{
        width: 100%;
    }
    .slider{
        display: none;
    }
    article h1,
    article h2{
        margin-top: 0;
    }
    nav ul{
        text-align: center;
    }
    nav li{
        display: block;
        margin: 0 0;
    }
}